# 파이썬 기초와 자료구조
---
파이썬 프로그래밍의 기초를 복습한다.


화면에 문자열을 출력한다.

In [12]:
print("Hello World")

Hello World

## 함수, 조건문, 반복문

함수를 생성해보고 반복문을 통해 함수를 호출해보자.

In [13]:
def HelloWorldXY(x, y):
    if (x < 10):
        print("Hello World, x was < 10")
    elif (x < 20):
        print("Hello World, x was >= 10 but < 20")
    else:
        print("Hello World, x was >= 20")
    return x + y

for i in range(8, 25, 5):  # i=8, 13, 18, 23 (start, stop, step)
    print("--- Now running with i: {}".format(i))
    r = HelloWorldXY(i,i)
    print("Result from HelloWorld: {}".format(r))

--- Now running with i: 8
Hello World, x was < 10
Result from HelloWorld: 16
--- Now running with i: 13
Hello World, x was >= 10 but < 20
Result from HelloWorld: 26
--- Now running with i: 18
Hello World, x was >= 10 but < 20
Result from HelloWorld: 36
--- Now running with i: 23
Hello World, x was >= 20
Result from HelloWorld: 46

In [14]:
print(HelloWorldXY(1,2))

Hello World, x was < 10
3

다음과 같은 반복문의 예제를 보자.

In [15]:
print("Iterate over the items. `range(2)` is like a list [0,1].")
for i in range(2):
    print(i)

print("Iterate over an actual list.")
for i in [0,1]:
    print(i)

print("While works")
i = 0
while i < 2:
    print(i)
    i += 1

Iterate over the items. `range(2)` is like a list [0,1].
0
1
Iterate over an actual list.
0
1
While works
0
1

In [16]:
print("Python supports standard key words like continue and break")
while True:
    print("Entered while")
    break

Python supports standard key words like continue and break
Entered while

# 파이썬 자료 구조

* list : 여러개의 값을 순서대로 하나로 모아서 관리하는 자료구조이다.
* tuple : list와 유사한 구조. 원소를 변경하는 것이 불가능하다.
* dictionary : key와 value의 쌍으로 자료를 관리한다.
* set : 순서가 없고, 값의 중복을 허용하지 않는 자료구조이다.

### 리스트

In [17]:
num_list =[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [18]:
num_list[0] #=>0번index 원소조회

0

In [19]:
num_list[1 : 10] #> 1~9 index 원소들조회=> 끝index는포함되지않는다.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
num_list[ : 5] #>시작이0번index일경우

[0, 1, 2, 3, 4]

In [21]:
num_list[5 : ] #> 마지막index까지조회일경우

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
num_list[100] #>100번index 원소조회=> 없는index 조회시IndexError 발생

IndexError: list index out of range

### 리스트 메소드

In [23]:
num_list1 = [1, 2,3]
num_list2 =[10,20,30]
result = num_list1 +num_list2
print(result)

[1, 2, 3, 10, 20, 30]

In [24]:
a = [1, 2,3]
b = a * 3
print(b) #=>[1,2,3,1,2,3,1,2,3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
list = [1,2,3]
list.append([1,2,3])
print(list)

[1, 2, 3, [1, 2, 3]]

In [26]:
list1 = ['a','b','c']

list.extend(list1)
print(list)

[1, 2, 3, [1, 2, 3], 'a', 'b', 'c']

In [27]:
list = [45,64,9,54,1,9,5,45]

list.sort(reverse=True)
print(list)

[64, 54, 45, 45, 9, 9, 5, 1]

In [28]:
list = [1,2,3]
list.insert(1,0)
print(list)

[1, 0, 2, 3]

In [29]:
list.remove(0)
print(list)

[1, 2, 3]

In [30]:
list = ['a','b','c']
list.index('b')

1

In [31]:
list = ['a','b','c']
x = list.pop(0)
print(x, list)

a ['b', 'c']

In [32]:
list = ['a','b','c','b','b']
list.count('b')

3

In [33]:
list.clear()
print(list)

[]

### 튜플

In [34]:
a = (1,2,3)
type(a)

tuple

In [35]:
# 원소가 하나인 tuple생성 주의~
a = (100,)
type(a)

tuple

In [36]:
a = ['a','b','c']
type(a)
a = tuple(a)
type(a)

tuple

In [37]:
nums = (1,2,3,4,5,6,7,8,9)
print(nums[0])
print(nums[0:3])
print(nums[:4])
print(nums[2:])
print(nums[::2])

1
(1, 2, 3)
(1, 2, 3, 4)
(3, 4, 5, 6, 7, 8, 9)
(1, 3, 5, 7, 9)

In [38]:
# 튜플은 변경불가 리스트와의 차이점~
nums[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [39]:
# 튜플 더하기 곱하기
a = ('a','b','c')
a * 2

('a', 'b', 'c', 'a', 'b', 'c')

In [40]:
# 튜플 메소드
a = ('a','b','c')
a.index('b')
a.count('b')

1

### 딕셔너리

In [41]:
a = {'한국':'서울','미국':'워싱턴','일본':'도쿄'}

print(a['일본'])

a['중국']='북경'
print(a)

a['일본']='동경'
print(a)

도쿄
{'한국': '서울', '미국': '워싱턴', '일본': '도쿄', '중국': '북경'}
{'한국': '서울', '미국': '워싱턴', '일본': '동경', '중국': '북경'}

In [42]:
a = {'한국':'서울','미국':'워싱턴','일본':'도쿄'}
print(a)

x = a.pop('일본')
print(a)
print(x)

{'한국': '서울', '미국': '워싱턴', '일본': '도쿄'}
{'한국': '서울', '미국': '워싱턴'}
도쿄

In [43]:
a = {'한국':'서울','미국':'워싱턴','일본':'도쿄'}
print(a.items())
print(a.keys())
print(a.values())
print(a.get('미국'))

dict_items([('한국', '서울'), ('미국', '워싱턴'), ('일본', '도쿄')])
dict_keys(['한국', '미국', '일본'])
dict_values(['서울', '워싱턴', '도쿄'])
워싱턴

### 집합 set

In [44]:
set1 = { 1, 2, 3, 4,5}
set2 = {1, 2, 2, 2,3}
set3 = set([1, 2, 3, 3, 4, 4, 4, 5, 5,5])
set4 = set((1, 2, 3, 3, 4, 5,5))
set5 = set({'a':1, 'b':2,'c':3})

In [45]:
#집합은 중복허용 않는다. 순서가 없다.(index사용못함)

a = {1,2,3,3,3,4,5,6}

print(a[0])

TypeError: 'set' object does not support indexing

In [46]:
# set함수 사용

a = {1:'a',2:'b',3:'c'}

set(a)

{1, 2, 3}

In [47]:
a = {1,2,3}

a.add(4)
print(a)

a.update([4,5,6])
print(a)

a.remove(4)
print(a)

a.pop()
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{2, 3, 5, 6}