# 군집 실습

다음의 데이터는 1973년 미국에서 수집된 통계로 인구 100,000명당 범죄로 체포된 사람과 관련된 자료이다.

A data frame with 50 observations on 4 variables.

* **Murder** numeric Murder arrests (per 100,000)
* **Assault** numeric Assault arrests (per 100,000)
* **UrbanPop** numeric Percent urban population
* **Rape** numeric Rape arrests (per 100,000)

이 데이터셋을 사용하여 군집 방법 - kmeans, hierarchical, DBSCAN를 사용하여 군집 분석을 하시오.  

데이터 스케일을

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
arrests = pd.read_csv('../../data/USArrests.csv')

arrests.info()
arrests.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
Name        50 non-null object
Murder      50 non-null float64
Assault     50 non-null int64
UrbanPop    50 non-null int64
Rape        50 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.1+ KB

         Name  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6